<div class="row">
    <div class="col-md-12 text-center">
        <h1>Maryland Geriatric Medicine</h1>
        <h4>Greenbelt, Maryland</h4>
        <!-- <p>Much less text</p> -->
        <!-- <a class="btn btn-primary btn-lg" href="#">Call to Action!</a> -->
    </div>
    <!-- /.col-md-4 -->
</div>
<div class="row">
  
</div>

<div class="row text-center">
    <div class="col-md-4">
        <h4>Dr. Peter Schissler</h4>
    </div>
    <div class="col-md-4">
        <h4>Dr. Stuart Turkewitz</h4>
    </div>
    <div class="col-md-4">
        <h4>Dr. Stephanie Trifoglio</h4>
    </div>
</div>
<!-- <div class="row text-center">
  <h3>Dr. Peter Schissler | Dr. Stuart Turkewitz | Dr. Stephanie Trifoglio</h3>
</div> -->

<hz>
<div class="row">
    <div class="col-md-12">
        <%= image_tag "banner.jpg", class: "img-responsive img-rounded center-block" %>
        <!-- <img class="img-responsive img-rounded center-block" src="/images/banner.jpg" alt=""> -->
    </div>
</div>