---
title: Insurance and Fees
---

<%= partial "/partials/header.html" %>

<div class="row">
  <h2>Insurance</h2>
  
  The doctors participate with the following insurances:
  
  <ul>
    <li>Aetna PPO</li>
    <li>Aetna MC</li>
    <li>CareFirstBlueChoice Opt-Out and Open Access</li>
    <ul>
      <li>(Drs. Schissler and Turkewitz only)</li>
    </ul>
    <li>Blue Cross/Blue Shield</li>
    <li>Blue Cross/Blue Shield Select Preferred Providers</li>
    <li>Blue Cross/Blue Shield POS</li>
    <li>Blue Cross/Blue Shield PPN and PPO</li>
    <li>Medicare</li>
    <li>NCAS</li>
    <li>Tricare</li>
  </ul>
</div>

<hr>

<div class="row">
  
  <h2>Fees</h2>

  <ul>
    <li>
      Charge for brief forms: $15.00
      <ul>
        <li>
          ("sick notes" for work, documentation of handicapped status for Parking permits, etc.)
        </li>
      </ul>
    </li>
    
    <li>
      Charge for lengthier forms or letters, greater than five pages: $25.00
      <ul>
        <li>
           (FMLA forms, Assisted Living entrance forms, etc.) 
        </li>
      </ul>
    </li>
    
    <li>
      Charges include payment for phone calls related to the request, pulling records, reviewing the relevant portions of records, filling out and mailing forms or letters.
    </li>
  </ul>  
</div>